body {
    padding: 0px;
}
#header {
    padding: 5px;
    background-color: dimgray;
    height: 40px;
    clear: both;
}
#section {
    padding: 10px;
    background-color: gray;
}

h1 {
    position: relative;
    margin: auto;
}