
body {
    background-color: black;
   
    margin-top: 0px;
    margin-bottom: 0px;

}

h1 {
    background-color:#F0F0F0;
    color: #A4A400;
}

.ul_style {
    list-style-image: url("https://mitikud.github.io/homework1/pie_icon.gif");
}
#main {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    width: 70%;
    background-image: url("https://mitikud.github.io/homework1/silverware.jpg");
    background-attachment: fixed;
}

.comment {
    background-color: rgb(232, 241, 99);
}