
body {
    background-color: black;
   
    margin-top: 0px;
    margin-bottom: 0px;

}

h1, h2 {
    background-color:#F0F0F0;
    color: #A4A400;
    font-size: 18pt;
    font-family:'Lucida Sans Unicode', Arial, Helvetica;
    text-decoration: underline;
    display: inline-block;
    letter-spacing: 00.25em;

}

.ul_style {
    list-style-image: url("https://mitikud.github.io/homework1/pie_icon.gif");
}
#main {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    width: 70%;
    background-image: url("https://mitikud.github.io/homework1/silverware.jpg");
    background-attachment: fixed;
}

.validatorTool {
    display: inline;
    clear: both;
}
.search {
    display: block;
}
footer div {
    float: left;
}
footer div.copyRight {
    padding-top: 10px;
    clear: both;
    text-align: right;
    display: block;
    font-family: monospace;
    line-height: 2px;

}
.userComent, .comment, blockquote{
    background-color: #FFFFA8;
    font-style: italic;
}
.comment {
    margin-top: 15px;
}
.heading, h1{
    text-align: center;
}
.timeTable{
  margin-top: 0.25em;
  border-bottom: 1px solid #c0c0c0;  
}