* {
	font-size: 12pt;
	font-family: "Verdana", "Geneva", sans-serif;
}

body {
	background-color:white;
	padding-left: 1em;
}

body > div, form {
	overflow: hidden;
	width: 35em;
}
fieldset {
	background-color: #E0E0FF;
	border: 2px outset gray;
	border-radius: 10px;
}

legend {
	background-color: white;
	border: 2px outset gray;
	padding: 0.2em;
}

h1 {
	font-weight: bold;

}

input[type="submit"] {
	background-color:springgreen;
	font-size: 120%;
	font-weight: bold;
}