body {
    margin: 0;
    padding: 0;
    background: local repeat url("background.png");
    font-size: 8pt;
    font-family: Verdana,  Tahoma, sans-serif;
}

.banner {
    display: flex;
    justify-content: center;
    background: local repeat-x url(bannerbg.png) ;
}

.container {
  position: relative;
  display: flex;
  justify-self: center;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
    font-size: 24pt;
    text-shadow: 3px 3px #999999;
}

.content, .overall {
    max-width: 800px;
    display: flex;
}

.overall{
    flex-direction: row-reverse;
    background-color: transparent;
}

.general_overview {
    border-top-right-radius: 20px;
    background-color: #A2B964
}

.general_overview dl{
    padding: 10px;
}
.general_overview_image img {
    border-top-right-radius: 20px;
}

.right 
{
    align-self: end;
    float: left;
}

.review p:first-child {
    min-height: 20px;
    background-color: #e8dc9b;
    font-weight: bold;
    border: solid 2px gray;
    border-radius: 10px;
    padding: 8px;
}

.review img {
    float: left;
    margin-right: 5px;
}
