img {
    position: relative;
    width: 20%;
}

#profile-pic {
    position: relative;
    width: 10%;
    border-radius: 50%;
}

a img {
    border: 0;
    width: 88px;
    height: 31px
}

/* a:hover, a:active, a:focus { */

img {
    width: 250px;
}

#root {
    padding: 8px;
    background-color: #595647;
    font-family: 'RocknRoll One', sans-serif;
}


.profile {
    display: flex;
}
 
.profileDescription {
    
    padding-left: 40px;
    display: grid;
    align-items: center;
    color: rgb(250, 245, 245);
}

h1, h2, h3, a {
    color: #A1C3F2;
}

li > a {
    text-decoration: dashed;
    color: #2C7EEA;
}

span {
    color:  #FFFFA8 ;
    ;
}

p , li, caption {
    color: white;
}
table {
    width: 80%;
}
tr img {
    width: 250px;
}