body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;

}
header{
    background-color: rgb(83, 83, 83);
    color:#fff;
    font-weight: bold;
    overflow: hidden;

}


header h1{
    margin-left: 350px;
}

form{
    width: 70%;
    height: fit-content;
    margin: 20px auto;
    display: flex;
}

input[type="text"]{
    width: 400px;
    margin: 0 auto;
    font-size: 15pt;
    padding: 5px;
    flex: 1;


}
label{
    font-size: 15pt;
    float: left;
}
#lookupKey{
    width: 70px;
    display: inline;
    height: 40px;
    text-align: center;
   
    background-repeat: no-repeat;
    background-size:90%;
    background-position: center;
    border: none;
    float: left;
    background-color: rgb(83, 83, 83);
    border-radius: 5px;
    position: relative;
    top: -2px;
    left: -2px;
}
#lookupKey:hover{
    background-color: rgb(83, 83, 83);
}
.resultClass{
    font-family: 'Times New Roman', Times, serif;
    width: 60%;
    margin: auto;
    background-color:rgb(249, 249, 250);
    color: black;
   
    padding: 10px;
}
.noresult{
    text-align: center;
    color: red;
}
#searchdiv{
    margin: 0 auto;
}
#loader{
    display: none;
}
#loader img{
    width: 50px;
    height: 50px;
}